extends layout

block content
 h1 New Book 
 form(method="POST" action="/books/new")
  h2(class="error") Ooooops! 
  ul(class="error")
  each message in validationErrors
   li(class="error" style="list-style-type: none;")= message.message
  p 
   label(for="title") Title 
   input(name="title" type="text" id="title" value= bookDetails.title)
  p 
   label(for="author") Author 
   input(name="author" type="text" id="author" value= bookDetails.author) 
  p 
   label(for="genre") Genre 
   input(name="genre" type="text" id="genre" value= bookDetails.genre) 
  p 
   label(for="year") Year 
   input(name="year" type="text" id="year" value= bookDetails.year) 
  p  
   input(type="submit" value="Create New Book")
  p 
   a(class="button" href="/") cancel